.button{
	width: 95px;
	height: 40px;
	background-color: white;
    color: black;
    border: 2px solid #000000;
	border-radius: 8px;
	margin: 2px;
	margin-top:5px;
	font-weight: bold;
	font-size: 12pt;
}
.upperbut{
	margin-top: 5px;
	margin-left: 5px;
	padding: 0px;
	width: 68px;
}
.mobile{
	width: 330px;
	height: 625px;
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 5px;
	position: relative;
	margin: auto;
	margin-top: 15px;
}
.screen{
	width: 305px;
	height: 360px;
	color: black;
    border: 2px solid #000000;
	border-radius: 8px;
	margin: 5px;
}
.keyboard{
	margin: 5px;
	margin-top:5px;
}
.controls{
	margin: auto;
	margin-top:15px;
	width: 330px;
	height: 55px;
	border: 2px solid #000000;
	border-radius: 8px;
	padding-left:5px;
}
.container{
	position: relative;
}
.invisible{
	visibility: hidden;
}
.wpm{
	border: 1px solid #000000;
	border-radius: 3px;
}
.wpm:hover{
	cursor:default;
}
.timer{
	border: 1px solid #000000;
	border-radius: 3px;
}
.timer:hover{
	cursor:default;
}
.play{
	margin-bottom:0px;
}
.cps{
	margin-bottom:0px;
}
#text{
	word-wrap: break-word;
	margin: 8px;
	font-size: 14pt;
}
.button:focus {
  outline: none;
}
.buttonsharp{
	font-size:18px;
}
/*source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


