.button{
	width: 95px;
	height: 40px;
	background-color: white;
    color: black;
    border: 2px solid #000000;
	border-radius: 8px;
	margin: 2px;
	margin-top:5px;
	font-weight: bold;
	font-size: 12pt;
}
.mobile{
	width: 330px;
	height: 625px;
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 5px;
	position: relative;
	margin: auto;
	margin-top: 50px;
}
.screen{
	width: 305px;
	height: 360px;
	color: black;
    border: 2px solid #000000;
	border-radius: 8px;
	margin: 5px;
}
.keyboard{
	margin: 5px;
	margin-top:5px;
}
.container{
	position: relative;
}
.invisible{
	visibility: hidden;
}


/*------ Source: https://www.w3schools.com/howto/howto_css_switch.asp ------------------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

