body {
	/* background: #e2e2e3; */
/* background: #eeeeee; */
/*background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 57%);*/
/* background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 57%); */
/* background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 57%); */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );*/
background: url(img/maxresdefault.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

@media screen and (min-device-width: 1400px) {
		.mobile {
			height: 100%;
		}
		.screen{
			min-height: 500px;
			height: 50%;
		}
}
@media screen and (max-device-width: 1400px) {
		.mobile {
			height: 100%;
		}
		.screen{
			min-height: 300px;
			height: 50%;
		}
}

@media screen and (max-device-width: 1300px) {
		.mobile {
			height: 100%;
		}
		.screen{
			min-height: 250px;
			height: 50%;
		}
}
@media screen and (max-device-width: 1200px) {
		.mobile {
			height: 100%;
		}
		.screen{
			min-height: 225px;
			height: 50%;
		}
}


@media screen and (max-width: 768px) {
		.mobile {
			height: 100%;
		}
		.screen{
			min-height: 200px;
			height: 50%;
		}
}

.button{
	width: 95px;
	height: 40px;
	background-color: #002eaf;
  color: #f1f1f1;
  border: 2px solid black;
	border-radius: 8px;
	margin: 2px;
	margin-top:5px;
	font-weight: bold;
	font-size: 12pt;
}

.button0:hover{
	cursor: default;
}

.button0{
	border-color: #bbbbbb;
	color: #bbbbbb;
}

.upperbut{
	margin-top: 5px;
	margin-left: 5px;
	padding: 0px;
	width: 68px;
}
.mobile{
	/*background-color: #44a9b8;*/
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #44A9B8),
		color-stop(1, #CFF9FF)
	);
background-image: -o-linear-gradient(bottom, #44A9B8 0%, #CFF9FF 100%);
background-image: -moz-linear-gradient(bottom, #44A9B8 0%, #CFF9FF 100%);
background-image: -webkit-linear-gradient(bottom, #44A9B8 0%, #CFF9FF 100%);
background-image: -ms-linear-gradient(bottom, #44A9B8 0%, #CFF9FF 100%);
background-image: linear-gradient(to bottom, #44A9B8 0%, #CFF9FF 100%);
	width: 330px;
	/*height: 625px;*/
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 5px;
	position: relative;
	margin: auto;
	margin-top: 10px;
}
.screen{
	width: 305px;
	/*height: 360px;*/
	color: black;
  border: 2px solid #000000;
	border-radius: 8px;
	margin: 5px;
	background-color: #f9f9f9;
}
.keyboard{
	margin: 5px;
	margin-top:5px;
}
.controls{
	background-color: #028497;
	margin: auto;
	margin-top:10px;
	width: 330px;
	height: 55px;
	border: 2px solid #000000;
	border-radius: 8px;
	padding-left:5px;
}
.container{
	position: relative;
}
.invisible{
	visibility: hidden;
}
.wpm{
	border: 1px solid #000000;
	border-radius: 3px;
}
.wpm:hover{
	cursor:default;
}
.timer{
	border: 1px solid #000000;
	border-radius: 3px;
}
.timer:hover{
	cursor:default;
}
.play{
	margin-bottom:0px;
}
.cps{
	margin-bottom:0px;
}
#text{
	word-wrap: break-word;
	margin: 8px;
	font-size: 14pt;
	display:block;
}
.button:focus {
  outline: none;
}
.buttonsharp{
	font-size:18px;
}
.button_star{
	transition: border .3s, color .3s;
}

#buttont9{
	transition: background .3s;
	background-color: #ffc300;
	color: black;
}
/*source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div a{
	visibility: hidden;
}
